.idea
TNLS-Relayers/etherscan_api_key.txt
TNLS-Relayers/infura_api_endpoint.txt
*/*/*/infura_api_endpoint.txt
*/.*
*/venv
.DS_Store
yarn.lock

# Foundry stuff
# --------------------------
# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*
/broadcast/*/31337
.vscode
target/
TNLS-Gateways/secret/contract.wasm
TNLS-Gateways/secret/contract.wasm.gz
