[submodule "public-gateway/lib/forge-std"]
	path = public-gateway/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "public-gateway/lib/openzeppelin-contracts"]
	path = public-gateway/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
